@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

:root {
  --grey-dark: #4b4b4b;
  --grey-light: #7b7b7b;
  --second: #d8ba76;
  --primary: #124323;
  --dark: black;
  --light: #fff;
  --message-error: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
a {
  font-family: "Squada One", sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: var(--grey-dark);
  font-size: 0.9rem;
}

main {
  min-height: 90vh;
  /* padding-top: 10vh; */
}

.errorMessage {
  color: var(--message-error);
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 1rem;
}
