.garden header {
  background-image: url("../public/BG-plants.jpg");
  background-size: 200vw;
  height: 15rem;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: var(--light);

  & h1 {
    padding-top: 2rem;
  }
}

.garden .my-plants {
  background-image: url("../public/BG-Explore.jpg");
  background-size: 250vw;
  min-height: 60vh;
  object-fit: cover;
  padding: 3rem 1rem 2rem 1rem;
  & h2 {
    color: var(--primary);
    padding-bottom: 1rem;
  }
  & .arrow {
    display: none;
  }
  & ul {
    display: flex;
  }

  & p:first-of-type {
    padding-top: 0.6rem;
  }
  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
  }
  & button {
    background-color: var(--primary);
    color: var(--light);
    border-radius: 8px;
    padding: 0.4rem 0.8rem;
    width: 40%;
    border: none;
  }
}
.garden h3 {
  text-align: center;
}
.garden .whatDo {
  padding: 2rem 1rem 1rem 1rem;

  & button {
    background-color: var(--primary);
    color: var(--light);
    border-radius: 8px;
    padding: 0.4rem 1rem;
    margin-bottom: 1rem;
    border: none;
  }

  & h2 {
    color: var(--primary);
    padding-bottom: 1rem;
  }
  /*
  & .arrow {
    display: none;
  }
  & ul {
    display: flex;
  }

  & p:first-of-type {
    padding-top: 0.6rem;
  }
  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
  }
  & button {
    background-color: var(--primary);
    color: var(--light);
    border-radius: 8px;
    padding: 0.4rem 0.8rem;
    width: 40%;
    border: none;
  } */
}

/* CSS pour section suivante */

/* .homepage section:nth-of-type(2) {
  padding: 3rem 1rem 2rem 1rem;
  & h2 {
    padding-bottom: 2rem;
    color: var(--primary);
  }
  & li {
    padding: 2rem;
    margin-bottom: 1.6rem;
    border-radius: 8px;
    color: var(--light);
    & h3 {
      font-size: 1.4rem;
      padding-bottom: 0.4rem;
      color: var(--second);
    }
  }
  & li:first-of-type {
    background-image: url("../public/fond-dark1.jpg");
    background-size: 95vw;
  }
  & li:nth-of-type(2) {
    background-image: url("../public/fond-dark2.jpg");
    background-size: 95vw;
  }
  & li:nth-of-type(3) {
    background-image: url("../public/fond-dark1.jpg");
    background-size: 95vw;
  }
} */

@media screen and (min-width: 768px) {
  .garden header {
    background-size: 100vw;
    height: 15rem;
  }
  .garden section:first-of-type .arrow {
    display: block;
    width: 3rem;
    height: auto;
  }
  .garden section:first-of-type {
    display: flex;
    padding-left: 4rem;
    & .explore {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      height: 60%;
      justify-content: space-around;
      justify-self: center;
      gap: 5rem;
      margin-right: 4rem;
    }
  }

  .garden section:nth-of-type(2) {
    padding: 3rem 6rem;
  }
  /* .garden section:nth-of-type(2) ul {
    display: flex;
    justify-self: center;
    width: 80vw;
    gap: 1rem;
    & .share {
      border-radius: 42px 0 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      justify-content: center;
      background-size: 40vw;
    }
    & div li:first-of-type {
      border-radius: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      justify-content: center;
      background-size: 40vw;
    }

    & div li:last-of-type {
      border-radius: 0 0 42px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      justify-content: center;
      background-size: 40vw;
    }
  } */
}
