.burger-menu {
  display: none;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  left: 0;
  height: 100vh;
  width: 80%;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

  & ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 2rem;

    & li {
      padding-left: 2rem;
    }
  }
}

.burger-menu.open {
  display: flex;
}

.burger-menu .nav-link {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.4rem;
  font-family: "Squada One", sans-serif;
}
